<div class="row mb-1 mr-0 custom-border">
   <div class="col-md-2 custom-border-right p-1 text-center">
    <img src="assets/prod.png" alt="" width="100px" height="100px">
  </div>

  <!-- detail articles -->
    <div class="col-md-4 custom-border-right">
     <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-info blue-color"></i></div>
        <div class="col-md-11">Code Article</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-info blue-color"></i></div>
        <div class="col-md-11">Désignation</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-dollar-sign blue-color"></i></div>
        <div class="col-md-11">Prix HT</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-dollar-sign blue-color"></i></div>
        <div class="col-md-11">Prix TTC</div>
      </div>
     </div>
  </div>
  <!-- detail categories -->
  <div class="col-md-3 custom-border-right">
    <div class="row">
      <div class="col-md-2">
        <i class="fa-solid fa-flag blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">Code Categorie</div>
          <div class="col-md-12">Description Categorie</div>
        </div>
      </div>
    </div>
  </div>
  <!-- bouton -->
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4"><button type="button" class="btn btn-link ">
        <i class="fas fa-pencil-alt"></i>&nbsp;Modifier
      </button>
    </div>
      <div class="col-md-4"><button type="button" class="btn btn-link ">
        <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
      </button>
    </div>
      <div class="col-md-4"><button type="button" class="btn btn-link ">
        <i class="far fa-list-alt"></i>&nbsp;Details
      </button>
    </div>
    </div>
  </div>
</div>
