 <div class="accordion" id="accordion">
  <div class="card" *ngFor="let menu of menuProperties">
    <div class="card-header" id="menu{{menu.id}}">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button"
        data-toggle="collapse" [attr.data-target]="'#collapse' + menu.id" aria-expanded="true" aria-controls="collapseOne">
        <i class="{{menu.icon}}"></i>&nbsp;
          {{menu.titre}}
        </button>
      </h2>
    </div>
    <div id="collapse{{menu.id}}" class="collapse"
     [attr.aria-labelledby]="'menu' + menu.id" data-parent="#accordion">
     <div class="card" >
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let sousMenu of menu.sousMenu" ><a href="javascript:void(0);" (click)="navigate(sousMenu.url)">{{sousMenu.titre}}</a></li>
      </ul>
    </div>
    </div>
  </div>
</div>


<!--  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
 $( function() {
 $( "#accordion" ).accordion();
  } );
</script>
<script>
  $('#collapse').collapse({
    toggle: false
  })
</script><i class="fa-solid fa-chart-bar"></i>
 -->
